# Ignorowanie plików konfiguracyjnych Android Studio
*.iml
/.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignorowanie plików systemowych
.DS_Store

# Ignorowanie plików Gradle
.gradle/
/local.properties

# Ignorowanie katalogów build
/build/
.cxx/
.externalNativeBuild/

# Ignorowanie przechwyconych plików (np. z emulatora)
captures/

# Opcjonalnie: ignorowanie binarnych plików systemowych
*.log
