# Ignoring Android Studio configuration files
*.iml
/.idea/
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# Ignoring system files
.DS_Store

# Ignoring Gradle files
.gradle/
/local.properties

# Ignoring build directories
/build/
.cxx/
.externalNativeBuild/

# Ignoring captured files (e.g., from the emulator)
captures/

# Optional: ignoring binary system files
*.log
